h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 2.5em;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
p {
    font-family: 'Georgia', serif;
    font-size: 1.2em;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
/* Slideshow container */
.slideshow-container {
   /* width: 150vh; */ /* Set width to 100% to take up the whole width of the screen */
   position: relative;
   overflow: hidden;
   margin: 0px 2em;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* Navigation Bar */
.navbar {
  position: sticky;
  z-index: 9999;
  top: 0px;
  backdrop-filter: blur(5px);
  width: 100%;
  background-color: white;
  overflow: hidden;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
}

.nav-link {
  font-family: 'Georgia', serif;
  text-decoration: none;
  color: black;
  padding: 14px 20px;
  border:rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5); /* Subtle light text shadow */

}

.nav-link:hover {
  background-color: #ddd;
  color: black;
}

/* Hamburger Menu */
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 25px; /* Slightly smaller width */
  margin-left: auto;
  background-color: #333; /* Dark background color */
  border-radius: 3px; /* Rounded corners */
  padding: 8px; /* Slightly smaller padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  opacity: 90%
}

.hamburger-menu:hover {
  background-color: #555; /* Change background color on hover */
}

.hamburger-menu .bar {
  height: 2.5px; /* Slightly thinner bars */
  width: 100%;
  background-color: white; /* White bars for contrast */
  margin: 3px 0; /* Space between bars */
  transition: all 0.3s ease; /* Smooth transition for bar changes */
}
/* Dropdown Menu */
.dropdown-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 50px;
  right: 10px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-menu a {
  padding: 12px 16px;
  text-decoration: none;
  color: black;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #ddd;
}
.slideshow-container {
  width: 150vb;  /* Set width to 100% to take up the whole width of the screen */
  position: relative;
  /* height: 75vh; */
  /*t height to 1/4 of the viewport height */
  overflow: hidden;
  margin: auto;
}
/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-link {
    display: none;
  }
  .navbar {
    background-color: transparent;
    backdrop-filter: none;
  }
  .hamburger-menu {
    display: flex;
  }

  .dropdown-menu {
    top: 60px;
    right: 10px;
  }
  .slideshow-container {
    width: 60vh;  /* Set width to 100% to take up the whole width of the screen */
    position: relative;
    margin: auto;
    /*height: 30vh; /* Set height to 1/4 of the viewport height */
    overflow: hidden;
  }
}



.slideshow-container::before {
  content: "";
  display: block;
  padding-top: 56.25%; /* 16:9 aspect ratio (9/16 = 0.5625) */
}

.slideshow-container > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Hide the images by default */
.mySlides1 {
  display: none;
}

.mySlides1 img {
  height: 100%; /* Make images take up the full height of the container */
  width: 100%; /* Make images take up the full width of the container */
  object-fit: cover; /* Ensure images cover the container without distortion */
}
.mySlides2 {
  display: none;
}

.mySlides2 img {
  height: 100%; /* Make images take up the full height of the container */
  width: 100%; /* Make images take up the full width of the container */
  object-fit: cover; /* Ensure images cover the container without distortion */
}